<div class="intro-area">
      <div class="container">
        <div class="AboutMe">
          <h1>ABOUT ME</h1>
          <p id="short-bio">Filmmaker. Editor.</p>
          <div class="profile-container">
            <div class="left-section">
              <img
                class="profile-image"
                src="images/profile-picture.png"
                alt="Profile Picture"
              />
              <p id="bio-name">James Yaptangco</p>

              <div class="skill-bar">
                <div class="skill">
                  <div class="skill-name">Effective Time Management</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 70%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">Communication</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 80%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">Fast Learner</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 80%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">Microsoft Excel</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 60%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">DaVinci Resolve</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 40%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">Adobe After Effects</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 60%"></div>
                  </div>
                </div>
                <div class="skill">
                  <div class="skill-name">Adobe Premiere Pro</div>
                  <div class="skill-progress">
                    <div class="progress" style="width: 100%"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-section">
              <p id="bio">
                Introducing James Yaptangco, a talented video editor residing in
                the Philippines' dynamic city of Manila. James, who specializes
                in the craft of storytelling and short films, has a great talent
                for holding audiences' attention and evoking strong storylines
                through his mastery of editing. With a broad range of abilities,
                he adapts his knowledge to meet the specific requirements of
                companies looking for a video editor to strengthen their brand
                presence. James is able to produce powerful videos that connect
                with target audiences and elevate company messaging because of
                his expertise with editing tools and natural grasp of visual
                storytelling strategies. No matter if it's a corporate
                presentation, testimonial, or promotional film, James expertly
                transforms company goals into gripping visual tales that leave
                an effect on the audience. His creative flair and attention to
                detail ensure that each frame is meticulously crafted to evoke
                the desired emotions and enhance the overall viewer experience.
                From start to finish, James Yaptangco's commitment to excellence
                shines through in every project he undertakes, making him the
                perfect choice for businesses looking to collaborate with a
                passionate video editor who can effectively bring their visions
                to life.
              </p>
              <div class="previous-jobs">
                <h2>Previous Jobs</h2>
                <ul>
                  <li>
                    Marketing Manager @ Strive Athleisure <br />
                    (Oct 2019)
                  </li>
                  <li>
                    Marketing Content Specialist @ Sagun's Pasalubong Center
                    <br />
                    (Sep 2020 - Oct 2022)
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contact-info">
            <p class="address">
              <i class="fas fa-map-marker-alt"></i> Parañaque City, Philippines
            </p>
            <p>
              <a href="mailto:yaptangco.mikael@gmail.com">
                <i class="fas fa-envelope"></i> yaptangco.mikael@gmail.com
              </a>
            </p>
            <p>
              <a href="tel:09663699825">
                <i class="fas fa-phone"></i> 0966-369-9825
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>