
<div class="body">
        <div class="all-text">
            <!-- <p class="top">Homepage</p> -->
            <p  class="name">JAMES <br> YAPTANGCO</p>
            <p class="description">Filmaker.Editor.</p>
        </div>
        <div class="vid" id="vid1">
           <iframe src="https://drive.google.com/file/d/13yDvFMumNvwFBJxhMgD75hHtwYIshn5J/preview" width="840" height="680" 
           frameborder="0"></iframe>
        </div>
        <div class="caption1">boracay beach trip vlog</div>
        <div class="vid" id="vid2">
            <iframe src="https://drive.google.com/file/d/1oycKfPZTwlf4_Nb9azOMicyPM5hD_G8D/preview" width="840" height="680"
            frameborder="0"></iframe>
        </div>
        <div class="caption2">a video teaser: ring</div>

     <div class="more-button">
        <a href="/portfolio" target=_self>
        <button type="button" class="m-b">More Edits</button>
        </a>
    </div> 
    <script src="log-in.js"></script>

